/* 공통스타일 */
* {
  /* 스타일초기화 */
margin: 0;
padding: 0;
box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul{
  list-style: none;
}
#container {
  /* 가로 너비 지정 후 화면 중앙 배치 */
  width: 1200px;
  margin: 0 auto;
}

/* 해더영역 */
header {
  width: 100%;
  height: 100px;
  background-color: blue;
  display: flex;
  justify-content: space-between;
}

#logo {

  width: 250px;
  height: 100px;
  background-color: indigo;
}
/* 네비게이션 영역 */

nav {
  width: 900px;
  height:100px;
  background-color: green;

}
/* 이미지슬라이드 영역 */
#sildeShow{

  width: 100%;
  height: 300px;
  background-color: orange;
  overflow: hidden;
}
/* 콘텐츠 영역 */
#contents {
  width: 100%;
  height: 300px;
  display: flex;
}

/* 탭메뉴영역 */
#tabMenu {
  width: 600px;
  height: 100%;
  padding-top: 20px;
  background-color: violet;
}
/* 링크영역 */
#links {
  width: 600px;
  height: 100%;
  background-color: skyblue;

}

footer {
  width: 100%;
  height:100px;
  background-color: gray;
}